<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="../public/assets/css/normalize.css">
    <link rel="stylesheet" href="../public/assets/css/basic.css">
    <link rel="stylesheet" href="../public/assets/css/start.css">
    <link rel="stylesheet" href="../public/assets/css/game.css">

    <script type="module" src="../public/assets/js/main.js"></script>
    <title><%= name %></title>
</head>
<body>
    <root style="visibility: hidden;"><%= root %></root>
    <connections>
        Status:<br>
        <li id="users">0 player(s)</li>
        <ul id="list"></ul>
    </connections>

    <div class="buttons">
        <button id="audio">
           <img src="../public/assets/controls/sound.png">
        </button>
    </div>

    <img src="../public/assets/sprites/mountain-1.png" class="mountain back">

    <div class="players">
        <!-- <div class="player-container">
            <span class="name">Player 1</span>
            
            <img src="../public/assets/sprites/mario-1.png" class="player">
        </div> -->
    </div>
    

    <div class="cenario">
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/assets/js/game_server.js"></script>
</body>
</html>