 /*! transparent scroll */
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: none;
}

body{
    overflow-x: scroll;
    padding:0;
    margin:0;
}

button{
    position: fixed;
    cursor: pointer;
    background: #de5918;
    color: #ffffff;
    border: 3px solid #000;
    box-shadow: inset -2px 1px 0 #ffffff;
    outline: none;
    padding: 6px 12px;
}

button#audio{
    position:fixed;
    right:0;
}

.back{
    position: absolute;
    bottom:10%;
    left: 0;
    image-rendering: pixelated;
}

share{
    font-size:11px;
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    top:8px;
    text-align: center;
    opacity:.2;
    transition: opacity .4s;
}

share:hover{
    opacity:1;
}

share input{
    text-align: center;
    font-size: 20px;
    width:300px;
    border:0;
    outline:none;
    font-family: serif;
    position:relative;
    top:15px;
}


credits{
    position: fixed;
    bottom: 11.8%;
    cursor:pointer;
    right: 5px;
    /* text-shadow: 2px 2px 0px #fff; */
    color: #2c2c2c;
    font-size: 8px;
    opacity:0.6;
}

credits:hover{
    opacity:1;
}

.cenario {
    position: fixed;
    background-repeat: repeat-x;
    background-position-y: 58px;
    bottom: 0;
    left: 0;
    height: 11vh;
    width: 100%;
    image-rendering: pixelated;
    background-size: 3%;
}

