body {
    background: url(../sprites/bg-1.png)repeat-x;
    background-color: #A1ADFF;
    background-size: 500%;
    image-rendering: pixelated;
    background-position: top left;
}

.cenario {
    background: url(../sprites/terrain-2.png) repeat bottom;
    position: absolute;
    background-position-y: 58px;
    bottom: 0;
    height: 11vh;
    width: 100%;
    image-rendering: pixelated;
    background-size: 3%;
}

.back{
    position: absolute;
    bottom:10%;
    image-rendering: pixelated;
}

.player-container {
    position: absolute;
    bottom: 11%;
    left: 100px;
    height: 181px;
    text-shadow: 1px 3px 0px #fff;
    width: 120px;
    text-align: center;
}

img.player {
    position: absolute;
    bottom: 0;
    width: 50%;
    transform: translateX(-50%);
    left: 50%;
}

.mountain{
    width:30%;
}

credits{
    position: absolute;
    bottom: 11.8%;
    cursor:pointer;
    right: 5px;
    /* text-shadow: 2px 2px 0px #fff; */
    color: #2c2c2c;
    font-size: 8px;
    opacity:0.6;
}

credits:hover{
    opacity:1;
}


.clouds-anim{
    animation-name: cloudsMove;
    animation-duration: 500s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-delay: 0s; 
}

@keyframes cloudsMove{
    from{
        background-position: top left;
    }
    to{
        background-position: top right;
    }
}