@font-face {
    font-family: 'Pixeled';
    src: url('../../fonts/Pixeled.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    user-select: none;
    font-family: 'Pixeled', sans-serif;
}


button{
    cursor: pointer;
    background: #de5918;
    color: #ffffff;
    border: 3px solid #000;
    box-shadow: inset -2px 1px 0 #ffffff;
    outline: none;
    padding: 6px 12px;
}

button#audio{
    position:absolute;
    right:0;
}

.controls {
    position: absolute;
    top: 48vh;
    left: 50%;
    transform: translate(-50%,-50%);
}

.controls li {
    list-style: none;
    font-size: 2.4vh;
    font-weight: bold;
    text-align: center;
    padding: 10px 10px;
}

.controls li:hover {
    cursor: pointer;
    background: #000;
    color: #ccc;
}

root{
    position:absolute;
    font-size:10px;
}

body{
    padding: 0;
    margin: 0;
    background:url('../img/bg.png')no-repeat;
    background-size:cover;
    background-color: #000;
}

.header{
    max-width: 100%;
    position: absolute;
    top:10vh;
    left:50%;
}

.header img {
    width: 85vh;
    max-width: 70%;
    transform: translateX(-50%);
}

connections{
    position: absolute;
    display:block;
    width:40vh;
    height:10vh;
    top:15px;
    left:15px;
    padding:10px;
    background:#ffffffa4;
    z-index:1;
    text-align: center;
    box-sizing: border-box;
}

connections ul{
    display:block;
    list-style: none;
    padding:0;
}

connections li{
    list-style: none;
    padding:1.3vh 0;
    font-size:1.5vh;
}

.enemy{
    position: absolute;
    bottom: 0;
    right: 10vh;
}

.enemy img {
    width: 7vh;
    position: absolute;
    bottom: 11.1vh;
    right: 10vh;
    transform: translate(-50%,-50%);
}

.enemy-anim{
    animation-name: basicMove;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-delay: 1s;
}

.cloud-1, .cloud-2, .cloud-3{
    position: absolute;
}

.cloud-2 img{
    width: 14vh;
}

.cloud-1 img, .cloud-3 img{
    width:25vh;
}

.cloud-1{
    top:5vh;
}

.cloud-2{
    right:0;
    top:5vh;
}

.cloud-3{
    top:34vh;
    left:25vh;
}

.cloud-1-anim{
    animation-name: cloudsMove;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-delay: 1s; 
}

.cloud-2-anim{
    animation-name: cloudsMove2;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-delay: 1s; 
}

.cloud-3-anim{
    animation-name: cloudsMove3;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-delay: 1s; 
}

@keyframes cloudsMove{
    from{
        left:0vh;
    }
    to{
        left:80vh;
    }
}

@keyframes cloudsMove2{
    from{
        right:0;
    }
    to{
        right:80vh;
    }
}

@keyframes cloudsMove3{
    from{
        left:25vh;
    }
    to{
        left:80vh;
    }
}



@keyframes basicMove{
    from{
        right:10vh;
    }
    to{
        right:50vh;
    }
}

@media (min-height: 1080px){
    .enemy{
        bottom:25.9vh;
    }
}