
.clouds-anim{
    animation-name: cloudsMove;
    animation-duration: 500s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-delay: 0s; 
}

@keyframes cloudsMove{
    from{
        background-position: top left;
    }
    to{
        background-position: top right;
    }
}

.clouds-anim{
    animation-name: cloudsMove;
    animation-duration: 500s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-delay: 0s; 
}

@keyframes cloudsMove{
    from{
        background-position: top left;
    }
    to{
        background-position: top right;
    }
}
