 
.game {
    background: url('../../../../public/assets/sprites/bg-1.png')repeat-x;
    background-color: #8E8FF6;
    background-size: 800%;
    image-rendering: pixelated;
    background-position: top left;
}



.cenario {
    position: fixed;
    background-repeat: repeat-x;
    background-position-y: 58px;
    bottom: 0;
    left: 0;
    height: 11vh;
    width: 100%;
    image-rendering: pixelated;
    background-size: 3%;
}

.cenario {
    background: url('../../../../public/assets/sprites/terrain-2.png');
    background-size: 3%;
}

.game {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mapTile{
    width:440%;
    position: absolute;
    bottom: 11%;
}



.clouds-anim{
    animation-name: cloudsMove;
    animation-duration: 500s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-delay: 0s; 
}

@keyframes cloudsMove{
    from{
        background-position: top left;
    }
    to{
        background-position: top right;
    }
}

root{
    position:absolute;
    font-size:10px;
}

.player-container {
    position: absolute;
    bottom: 11%;
    left: 100px;
    height: 181px;
    text-shadow: 1px 3px 0px #fff;
    width: 120px;
    text-align: center;
}

img.player {
    position: absolute;
    bottom: 0;
    width: 60px;
    transform: translateX(-50%);
    left: 50%;
}


.connections{
    position: fixed;
    display:block;
    width:40vh;
    height:10vh;
    top:15px;
    left:15px;
    padding:10px;
    font-size:2vh;
    background:#ffffffa4;
    z-index:1;
    text-align: center;
    box-sizing: border-box;
}

.connections ul{
    display:block;
    list-style: none;
    padding:0;
}

.connections li{
    list-style: none;
    padding:1.3vh 0;
    font-size:1.5vh;
}

.clouds-anim{
    animation-name: cloudsMove;
    animation-duration: 500s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-delay: 0s; 
}

@keyframes cloudsMove{
    from{
        background-position: top left;
    }
    to{
        background-position: top right;
    }
}

.cenario {
    background-repeat: repeat-x;
    background-position-x: 0px;
    position: fixed;
    bottom: 0;
}