body {
    background: rgb(39, 39, 39);
    color: white;
}

iframe#game {
    width: 1000px;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}